<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Database191030.Properties.Settings.ConnectionString"
            connectionString="DATA SOURCE=ORARA;PASSWORD=san9yun2;PERSIST SECURITY INFO=True;USER ID=A5293638"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>